.edit {
  .edit-form {
    &__label {
      font-size: 1.6rem;
      font-weight: 500;
    }

    &__input-title {
      font-size: 1.8rem;
    }

    &__btn-submit {
      font-size: 1.5rem;
      background-color: rgb(226, 205, 11);
      font-weight: 500;
    }
  }
}
